body {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    background-image: url("../images/solnedgang.jpg");
    background-size: cover; 
    

}

header ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    list-style-type: none;
}


* {
    box-sizing: border-box;
  }

  .dropbtn{
      background-color: crimson;
      color: white;
      font-size: 18px;
      padding: 18px;
      border: none;
      cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus{
      background-color: cyan;
  }

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}


.minAmna{
    font-family: 'Outfit', sans-serif;
    border: 3px solid rgb(18, 58, 145) ;
    border-style: solid;
    background-color: rgba(95, 150, 182, 0.075);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

h2 {
    width: 100%;
}

.picture {
    width: 30%;
    float: right;
}
img{
   width: 100%;
    
}
.tekst {
    max-width: 10px;
    display: flex;
}

.p-container {
    width: 70%;
    float: left;
}

p {
    margin-right: 2rem;
    line-height: 40px;
}


.minNana{
    font-family:  'Outfit', sans-serif;
    border: 3px solid rgba(223, 9, 195, 0.075) ;
    border-style: solid;
    background-color: rgba(223, 9, 195, 0.075) ;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}


.picture1 {
    width: 30%;
    float: right;
}

.tekst1.minNana {
    max-width: 10px;
    display: flex;
}

.p-container1 {
    width: 70%;
    float: left;
}


.minTiril{
    font-family: 'Outfit', sans-serif;
    border: 3px solid rgba(230, 135, 97, 0.473) ;
    border-style: solid;
    background-color: rgba(230, 135, 97, 0.329);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.picture2 {
    width: 30%;
    float: right;
}

.tekst2.minTiril {
    max-width: 10px;
    display: flex;
}

.p-container2 {
    width: 70%;
    float: left;
}


.minMathu{
    font-family: 'Outfit', sans-serif;
    border: 3px solid rgb(0, 5, 15);
    border-style: solid;
    background-color: rgba(0, 5, 15, 0.63);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.picture3 {
    width: 30%;
    float: right;
}

.tekst3.minMathu {
    max-width: 10px;
    display: flex;
}

.p-container3{
    width: 70%;
    float: left;
    color: white;
}