body {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    background-image: url("../images/solnedgang.jpg");
    background-size: cover; 

}

header ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    list-style-type: none;
}


* {
    box-sizing: border-box;
  }

.dropdown{
    display:inline-block;
    position:relative;
}

.dropdown button{
    position: relative;
    width: 100px;
    height: 90px;
    border:none;
    padding: 16px 36px;
    background-color: rgb(23, 30, 121);
    color: white;
    transition: .3s;
    cursor: pointer;
}
.dropdown button::before,
.dropdown button:after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
}


.dropdown:hover button{
    background-color: rgb(53, 88, 184);
}

.dropdown div{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1;
    visibility: hidden;
    position: absolute;
    min-width: 100%;
    opacity: 0;
    transition: .3s;
}

.dropdown:hover div{
    visibility: visible;
    opacity: 1;
}

.dropdown div a{
    display:block;
    text-decoration:none;
    padding:8px;
    color:#000;
    transition: .1s;
    white-space: nowrap;
}

.dropdown div a:hover{
    background-color: rgba(65, 100, 153, 0.911);
    color: #fff;

}

button{
    font-size: 20px;

}

.minA{
    font-family: 'Outfit', sans-serif;
    border: 3px solid rgb(18, 58, 145) ;
    border-style: solid;
    background-color: rgba(95, 150, 182, 0.075);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

h2 {
    width: 100%;
}

.picture {
    width: 30%;
    float: right;
}
img{
   width: 100%;
    
}
.tekst {
    max-width: 10px;
    display: flex;
}

.p-container {
    width: 70%;
    float: left;
}

p {
    margin-right: 2rem;
    line-height: 40px;
}


.minN{
    font-family:  'Outfit', sans-serif;
    border: 3px solid rgba(170, 42, 153, 0.815) ;
    border-style: solid;
    background-color: rgba(223, 9, 195, 0.075) ;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}


.picture1 {
    width: 30%;
    float: right;
}

.tekst1.minN {
    max-width: 10px;
    display: flex;
}

.p-container1 {
    width: 70%;
    float: left;
}


.minT{
    font-family: 'Outfit', sans-serif;
    border: 3px solid rgba(230, 135, 97, 0.473) ;
    border-style: solid;
    background-color: rgba(230, 135, 97, 0.329);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.picture2 {
    width: 30%;
    float: right;
}

.tekst2.minT{
    max-width: 10px;
    display: flex;
}

.p-container2 {
    width: 70%;
    float: left;
}


.minM{
    font-family: 'Outfit', sans-serif;
    border: 3px solid rgb(0, 5, 15);
    border-style: solid;
    background-color: rgba(0, 5, 15, 0.63);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    
}

.picture3 {
    width: 30%;
    float: right;
}

.tekst3.minM{
    max-width: 10px;
    display: flex;
}


.p-container3{
    width: 70%;
    float: left;
    color: white;
}