*{
    box-sizing: border-box;
}

body{
    background-color:#bda6d4;
}

.boks1{
    display:grid;
    grid-template-columns: 50% 50%;
}

header ul {
    list-style-type: none;
    background-color: #855c85;
    padding: 2rem;
    margin: 0;
}

header ul li a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
}

h2, p, li{
    font-family: 'Oswald', sans-serif;
}

.funfacts > ul > li{
    list-style-type: none;
}

.funfacts > ul > li::before{
    content: "\1F64C";
}

